.background {
	background-color: #50e3c2;
	min-height: 100vh;
	color: white;
	display: grid;
	grid-template-columns: 1fr 2fr 3fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	grid-template-areas:
		". . . ."
		". title description ."
		". . . .";
	box-sizing: border-box;
}

.header {
	/* grid-column-start: 2; */
	/* grid-row-start: 2; */
	/* align-self: center; */
	grid-area: title;
	border-right: 1px solid white;
}

.bikeIcon {
	width: 5vw;
	display: block;
}

.h1_PDX {
	font-size: 7em;
	font-weight: bold;
	margin: 0;
}

.h1_Rides {
	font-size: 0.5em;
	text-transform: uppercase;
	display: block;
	letter-spacing: 0.25em;
}

.introDescription {
	/* grid-column-start: 3; */
	/* grid-row-start: 2; */
	/* align-self: center; */
	grid-area: description;
	padding-left: 10%;
	/* padding-right: 0; */
	font-size: 1.75em;
}
