.background {
	box-sizing: border-box;
	background-color: #50e3c2;
	min-height: 100vh;
	color: white;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 30px 1fr 1fr 30px;
	grid-template-areas:
		". . ."
		". title ."
		". description ."
		". . .";
	place-items: center center;
	/* grid-template-columns: 1fr 2fr 2px 3fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	grid-template-areas:
		". . . . ."
		". title line description ."
		". . . . ."; */
	/* place-items: center center; */
}

.header {
	grid-area: title;
}

.verticalRule {
	display: none;
}

.bikeIcon {
	width: 15vw;
	display: block;
	margin: 0 auto;
}

.h1_PDX {
	font-size: 12em;
	font-family: freight-sans-compressed-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
	line-height: 0.9;
	margin: 0;
}

.h1_Rides {
	font-size: 0.32em;
	font-family: freight-macro-pro, serif;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	display: block;
	letter-spacing: 0.25em;
}

.introDescription {
	grid-area: description;
	font-size: 1.35em;
	font-family: freight-macro-pro, serif;
	font-weight: 400;
	font-style: italic;
}

@media screen and (min-width: 700px) {
	.background {
		grid-template-columns: 1fr 2fr 2px 3fr 1fr;
		grid-template-rows: 1fr 2fr 1fr;
		grid-template-areas:
			". . . . ."
			". title line description ."
			". . . . .";
		/* place-items: center center; */
	}

	.verticalRule {
		display: initial;
		grid-area: line;
		background-color: white;
		height: 100%;
		width: 2px;
	}

	.introDescription {
		padding-left: 10%;
		font-size: 1.5em;
	}
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
	.header {
		padding-right: 10%;
	}

	.bikeIcon {
		width: 10vw;
	}
}

@media screen and (min-width: 1000px) {
	.introDescription {
		font-size: 1.9em;
	}

	.bikeIcon {
		width: 6vw;
	}
}
